* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  overflow-y: scroll;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.main {
  width: 80%;
  margin: 0 auto;
  min-height: 91vh;
  padding: 30px 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
